body {
    font-family: sans-serif;
    margin: 0px;
    background-color: #f4f4f9;
}

header {
    text-align: center;
    padding: 40px 0;
    color: #333;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

section {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

a {
    color:#2563eb;
    text-decoration: none;
}

a:hover {
    color:#1d4ed8;
}